# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/
.env

# Django stuff
*.log
db.sqlite3
staticfiles/
media/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
